<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="David G. Smith">
  <meta name="description" content="A single-player text-based RPG adventure">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rex Nemorensis</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <div id="display"><%= art %></div>
  <div id="exchange-area"></div>
  <div id="move-entry">
    <input id="entry-box" type="text" autofocus>
  </div>
  <script src=" ./javascripts/index.js"></script>
</body>

</html>