html {
  background-color: #0f0f23;
}

body {
  padding: 50px;
  font: 20px "Syne Mono", Helvetica, Arial, serif;
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

#display {
  white-space: pre;
}

input {
  font: 20px "Syne Mono", Helvetica, Arial, serif;
  background-color: #00cc0010;
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  border: 0px;
  width: 100%;
  caret-color: #00cc00;
}

input:focus {
  outline: none;
  background-color: #0f0f23;
}

div {
  width: 90ch;
}
