html {
  background-color: #0f0f23;
}

body {
  padding-left: 10px;
  padding-right: 10px;
  font: 14px "Syne Mono", Helvetica, Arial, serif;
  color: #00cc00;
  text-shadow: 0 0 1px #00cc00, 0 0 2px #00cc00;
}

#display,
.response-area {
  white-space: pre;
}

div {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90ch;
}

label {
  width: 100%;
}

input {
  font: 14px "Syne Mono", Helvetica, Arial, serif;
  background-color: #00cc0010;
  color: #00cc00;
  text-shadow: 0 0 1px #00cc00, 0 0 2px #00cc00;
  border: 0px;
  width: 90%;
  caret-color: #00cc00;
}

input:focus {
  outline: none;
  background-color: #0f0f23;
}
